.intro {
    margin: 20vh auto;
    padding: 50px 0px;
    width: 600px;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
}

.intro h1 {
    border-bottom: 1px dotted #aaa;
}

.intro .iconfont {
    color: darkred;
    font-size: 48px;
}