.index-box {
    width: 1160px;
    margin: 20px auto;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
}

.index-box .index-nav {
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
    background-color: #333;
    list-style: none;
}

.index-box .index-nav .current {
    background-color: darkred;
}

.index-box .index-nav .disabled {
    opacity: 0.5;
}


.index-box .index-nav li {
    float: left;
}

.index-box .index-title {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0px 20px 20px;
}

.index-box .quotation-chart {
    width: 100%;
    height: 640px;
}