.title span {
    font-size: 14px;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 2px 3px;
    margin-left: 15px;
    position: relative;
    top: -2px;
}

.nav .search-button {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    color: #aaa;
    padding: 2px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.nav .search-button:hover {
    background-color: #444;
}

.stock, .action-bar {
    display: block;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 1px 3px 1px 3px;
    color: black;
}

.action-bar {
    background-color: #eee;
}

.action-bar > span {
    cursor: pointer;
}

.action-bar .current {
    color: darkred;
}

.action-bar > span:hover {
    background-color: #ddd;
}

.stock:hover {
    background-color: #ffeeee;
    cursor: pointer;
}

.stock > span, .action-bar > span {
    display: inline-block;
    height: 100%;
    width: 175px;
    text-align: center;
}

.stock .code {
    color: darkblue;
}

.stock .name {
    font-weight: bold;
}

.pages-bar {
    list-style: none;
    margin: 10px auto;
    width: 190px;
}

.pages-bar li {
    float: left;
}

.bx-left-arrow-alt, .bx-right-arrow-alt {
    width: 30px;
    font-size: 30px;
    border-radius: 50%;
    padding: 2px;
    margin-top: 2px;
    cursor: pointer;
}

.bx-arrow-to-left, .bx-arrow-to-right {
    width: 30px;
    font-size: 30px;
    border-radius: 50%;
    padding: 2px;
    margin-top: 2px;
    cursor: pointer;
    color: #888;
}

.pages-bar .bx:hover {
    background-color: #ddd;
}

.pages-bar .input-page {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    margin: 2px 10px 2px 10px;
    padding: 2px;
}

.pages-bar .limit {
    cursor: pointer;
    color: #aaa;
    margin: 3px;
    position: relative;
    top: 5px;
}