@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1632039611910') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leaf:before {
  content: "\e6b8";
}

.icon-zhishu:before {
  content: "\e625";
}

.icon-shuaxin:before {
  content: "\e668";
}

.icon-shouye:before {
  content: "\e532";
}

.icon-denglu:before {
  content: "\e95d";
}

.icon-Organization-Data-report--data-32:before {
  content: "\e686";
}

.icon-stock:before {
  content: "\ecbf";
}

.icon-a-bianzu4:before {
  content: "\e504";
}

