<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kevyn's Vein Project</title>
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <script src="/static/lib/vue.js"></script>
    <script src="/static/lib/echarts.js"></script>
    <script src="/static/lib/axios.js"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        <a href="javascript:;" class="menu-button">
            <span class="iconfont icon-leaf"></span> 菜单
        </a>
{#        <input type="text" id="daysInput" placeholder="200">#}
{#        <a id="daysInputSubmit" href="javascript:;">#}
{#            <span class="iconfont icon-shuaxin"></span> 刷新#}
{#        </a>#}
    </header>

    <ul class="menu unfold">
        <li>
            <a href="/"><span class="iconfont icon-shouye" style="font-weight: bold;"></span> 首页</a>
        </li>
        <li>
            <a href="/index-quotation"><span class="iconfont icon-zhishu"></span> 大盘形态</a>
        </li>
        <li>
            <a href=""><span class="iconfont icon-a-bianzu4"></span> 行业分析</a>
        </li>
        <li>
            <a href=""><span class="iconfont icon-stock"></span> 个股分析</a>
        </li>
        <li>
            <a href=""><span class="iconfont icon-Organization-Data-report--data-32"></span> 每日复盘</a>
        </li>
    </ul>


    <div class="container aside">
        {% block content %}
        {% endblock %}
    </div>

    <script src="/static/js/base.js"></script>

</body>
</html>