<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kevyn's Vein Project</title>
    <script src="/static/lib/vue.js"></script>
    <script src="/static/lib/echarts.js"></script>
    <script src="/static/lib/axios.js"></script>
    <script src="/static/lib/url.min.js"></script>
    <link rel="stylesheet" href="/static/lib/boxicons.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        <a href="javascript:;" class="menu-button">
            <span class="bx bx-menu"></span> 导航
        </a>
    </header>

    <ul class="menu unfold">
        <li>
            <a href="/"><span class="bx bx-home" style="font-weight: bold;"></span> 首页</a>
        </li>
        <li>
            <a href="/index-quotation"><span class="bx bx-bar-chart-alt"></span> 大盘形态</a>
        </li>
        <li>
            <a href="/stock-list"><span class="bx bx-list-ul"></span> 股票列表</a>
        </li>
        <li>
            <a href="/fund-list"><span class="bx bx-money"></span> 基金列表</a>
        </li>
        <li>
            <a href="/industry-list"><span class="bx bxs-factory"></span> 行业分析</a>
        </li>
        <li>
            <a href="/daily-review"><span class="bx bxs-report"></span> 每日复盘</a>
        </li>
    </ul>


    <div class="container aside">
        {% block content %}
        {% endblock %}
    </div>

    <script src="/static/js/base.js"></script>

</body>
</html>