{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}
{% block content %}
    <div class="central-box">
        <div class="logo-box">
            <img class="logo" src="/static/images/logo.svg" alt="">
        </div>
        <h1>Vein Project</h1>
        <h2>Kevyn 的股票和基金市场分析框架</h2>
        <div class="intro">
            <h3>现代 * 年轻</h3>
            <p>
                 叶脉工程是为年轻人而生的，将秉持有年轻感，有活力感的设计理念，
                都说人靠衣冠，现代化的用户界面是对于每一个拥有优秀内核的应用都是必不可少的
                优秀的使用体验会是叶脉工程超脱于其分析框架本色之外的一大亮点
                也希望你在使用本应用时能感到安心，愉悦和舒适。
            </p>
        </div>
        <div class="intro">
            <h3>小巧 * 全面</h3>
            <p>
                 叶脉工程所抓取和存储之数据，应该是尽量小巧但全面的。
                我不希望把市场的全部信息尽数收入囊中，我认为真正有意义的数据恰恰是那些最简单的数据。
                叶脉工程的目的是让你在纷扰的市场环境中保持清醒，
                所以我希望，只有那些能够 反映市场，认识市场的足够有用的数据才会被呈现出来。
            </p>
        </div>
        <div class="intro">
            <h3>智能 * 精选</h3>
            <p>
                 在所有的基础设施之上，叶脉工程的精髓将会是它的分析系统，
                我希望这个久经酝酿的系统是足够智能，足够精简的。
                在市场当中，我们并不是靠信息的数量，而是靠信息的质量取胜，
                所以我将确保：只有那些最易于理解，最简单有效的分析将被执行。
            </p>
        </div>
    </div>
{% endblock %}