{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="/static/css/index-daily.css">
{% endblock %}
{% block content %}
    <div class="index-box" id="SH">
        <h3>上证指数</h3>
        <div class="index-graph"></div>
        <div class="index-vol-graph"></div>
    </div>
    <div class="index-box" id="SZ">
        <h3>深证指数</h3>
        <div class="index-graph"></div>
        <div class="index-vol-graph"></div>
    </div>
    <script src="/static/js/index-daily.js"></script>
{% endblock %}
