{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="/static/css/index-daily.css">
{% endblock %}
{% block content %}
    <div class="index-box" id="SH">
        <ul class="index-nav">
            <li @click="changeCurrentIndexTo('上证指数', 'SH')">
                <a href="javascript:;" class="menu-button" :class="{'current': isCurrent('SH')}">上证指数</a>
            </li>
            <li @click="changeCurrentIndexTo('深证指数', 'SZ')">
                <a href="javascript:;" class="menu-button" :class="{'current': isCurrent('SZ')}">深证指数</a>
            </li>
        </ul>
        <div class="index-daily-chart"></div>
        <div class="index-ad-line-chart"></div>
    </div>
    <script src="/static/js/index-daily.js"></script>
{% endblock %}
