{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="/static/css/index-quotation.css">
{% endblock %}
{% block content %}
    <div class="central-box" id="SH">
        <ul class="nav">
            <li @click="changeCurrentIndexTo('上证指数', 'SH')">
                <a href="javascript:;" class="menu-button" :class="{'current': isCurrent('SH')}">上证指数</a>
            </li>
            <li @click="changeCurrentIndexTo('深证指数', 'SZ')">
                <a href="javascript:;" class="menu-button" :class="{'current': isCurrent('SZ')}">深证指数</a>
            </li>
            <li>
                <a href="javascript:;" class="menu-button disabled" :class="{'current': isCurrent('BJ')}">北证指数</a>
            </li>
            <li>
                <a href="javascript:;" class="menu-button disabled" :class="{'current': isCurrent('CY')}">创业板指</a>
            </li>
            <li>
                <a href="javascript:;" class="menu-button disabled" :class="{'current': isCurrent('KC')}">科创板指</a>
            </li>
        </ul>
        <h3 class="title">[[ currentIndexName ]]</h3>
        <div class="quotation-chart index-daily-chart"></div>
        <div class="quotation-chart index-weekly-chart"></div>
        <div class="quotation-chart index-monthly-chart"></div>
    </div>
    <script src="/static/js/index-quotation.js"></script>
{% endblock %}
